body {
    padding: 10px 15%;
    font-family: 'Nunito', sans-serif;

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Bebas Neue', cursive;
    }

    h2 {
        padding-top: 10px;
        border-top: solid 1px #ccc;
        // grid-area: head;
    }

    a {
        color: #333;
    }

    ul {
        padding-left: 1em;
    }
}

section#cases {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;

    article {
        padding: 0 0.5rem;
        border: solid 2px #ccc;
        img {
            width: 100%;
        }
        // grid-area: article;
    }
}